# Dados do banco de dados (Docker)
postgres_data/

# Logs e arquivos temporários do Airflow
airflow/logs/
airflow/plugins/
__pycache__/

# Dados sensíveis/volumosos
dataset_projeto_DE1/
*.csv

# Ambientes virtuais
venv/
.env