version: '3.8'
services:
  postgres:
    image: postgres:13
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  airflow-webserver:
    image: apache/airflow:2.7.1
    command: webserver
    depends_on:
      - postgres
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__WEBSERVER__SECRET_KEY=uma_chave_muito_secreta_aqui
    ports:
      - "8080:8080"
    volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./dataset_projeto_DE1:/opt/airflow/datasets

  airflow-scheduler:
    image: apache/airflow:2.7.1
    command: scheduler
    depends_on:
      - postgres
    environment:
      - AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
      - AIRFLOW__WEBSERVER__SECRET_KEY=uma_chave_muito_secreta_aqui
    volumes:
    - ./airflow/dags:/opt/airflow/dags
    - ./dataset_projeto_DE1:/opt/airflow/datasets

volumes:
  postgres_data:
